html,body{width:100%;height:100%;overflow:hidden;}
html{_height:auto;_padding-top:168px;}

.g-hd{_margin-top:-158px;}
.g-sd51{position:relative;float:left;width:176px;margin:0 -176px 0 0;}
.g-sd51 .touxiang{ margin:15px 15px 15px 40px;}
.g-sd52{position:relative;float:right;width:360px;margin:0 0 0 -360px;}
.g-mn5{float:left;width:100%;}
.g-mn5c{margin:0 370px 0 180px;}
.g-mn5c .xingming{ margin-top:48px; font-size:30px; font-family:"微软雅黑";}
.g-mn5c .xinxi{margin-top:8px; font-size:18px; font-family:"微软雅黑";}
.g-anniu{ margin:70px 0 0 0;}
.g-anniu a{ display:block; width:140px; height:42px; background:#22aebb; float:left; margin-left:25px; border:#298d97 1px solid; text-align:center; font-size:16px; font-family:"微软雅黑"; color:#03656f; line-height:42px;}
.g-anniu .active{ display:block; width:140px; height:42px; background:#05484f; float:left; margin-left:25px; border:#298d97 1px solid; text-align:center; font-size:16px; font-family:"微软雅黑"; color:#fff; line-height:42px;}