/* CSS Document */

.nav-box{}

.nav-box-item{
	display:block; float:left;zoom: 1; background:url(../img/cms/tab_nav_line.png) bottom right no-repeat;
}
.nav-box-item:after{
	clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.nav-box-item .nav-box-but{ padding:6px 6px 4px 6px;}
.nav-box-item .nav-box-but:after{
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.nav-box-item .nav-box-but a{ display:block; width:56px; height:69px; float:left; margin:0 4px; text-align:center; }
.nav-box-item .nav-box-but a i{ display:block; width:32px; height:32px; margin:10px auto 4px;}
.nav-box-item .nav-box-but .cut{background-image:url(../img/cms/tab_nav_bg.png);}


.nav-box-item .nav-box-but ul{list-style: none; display:block;}
.nav-box-item .nav-box-but ul:after{
	clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.nav-box-item .nav-box-but ul li{
	list-style: none;
    vertical-align: top;
	margin:3px;
	display:block;
	width:56px;
	height:69px;
	float:left;
	border:1px solid #f00;
}

.nav-box-item .nav-box-title{
	height:24px; line-height:24px; text-align:center;
}