/* 主体样式 */

@charset "utf-8";

.cms_head{
	background:#167cca;
}
.cms_head: after{
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.cms_head_top{
	height:36px;
}
.cms_head_top .cms_head_top_logo{
	float:left;
	margin-top:6px;
	margin-left:18px;
}
.cms_head_tab{
	height:137px;
}
.g-tool{position: absolute;top: 176px;left: 0;width: 100%;height: 100%; background:#f00;}
.m-tool{position: absolute;top: 0;left: 0;width: 100%;height: 100%; background:#f00;}
