.ui-editor{ border:none; padding:0; margin:0; overflow:hidden;}


.ui-editor-toolbar {

}
.ui-editor-toolbar:after{clear: both;content: " ";display: block;font-size: 0;height: 0;visibility: hidden;}

.ui-editor-toolbar .toolbar-but{
    position: relative; width:38px; height:38px; float:left; cursor:pointer; background-color:#ff0000;text-align:center; display:inline-block;overflow:hidden;
}


.ui-editor-iframeholder {
    position: relative;
    border: 1px solid #ccc;
    background-color: white;
    /*for fix ie6 toolbarmsg under iframe bug. relative -> static */
    /*_position: static !important;*/
}
