body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
html {
	border: 0px currentColor;
}
body {
	border: 0px currentColor;
}
iframe {
	border: 0px currentColor;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
li {
	list-style: none;
}
em {
	font-size: 100%; font-style: normal; font-weight: normal;
}
i {
	font-size: 100%; font-style: normal; font-weight: normal;
}
small {
	font-size: 100%; font-style: normal; font-weight: normal;
}
caption {
	font-size: 100%; font-style: normal; font-weight: normal;
}
th {
	font-size: 100%; font-style: normal; font-weight: normal;
}
h1 {
	font-size: 100%; font-weight: bold;
}
h2 {
	font-size: 100%; font-weight: bold;
}
h3 {
	font-size: 100%; font-weight: bold;
}
h4 {
	font-size: 100%; font-weight: bold;
}
h5 {
	font-size: 100%; font-weight: bold;
}
h6 {
	font-size: 100%; font-weight: bold;
}
em {
	font-size: 100%; font-weight: bold;
}
strong {
	font-size: 100%; font-weight: bold;
}
b {
	font-size: 100%; font-weight: bold;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
body {
	background: rgb(255, 255, 255); font: 12px/normal "Consolas"; color: rgb(85, 85, 85); -ms-word-wrap: break-word; font-size-adjust: none; font-stretch: normal;
}
textarea {
	outline: 0px; color: inherit; line-height: inherit; font-family: inherit; font-size: inherit;
}
input {
	outline: 0px; color: inherit; line-height: inherit; font-family: inherit; font-size: inherit;
}
button {
	outline: 0px; color: inherit; line-height: inherit; font-family: inherit; font-size: inherit;
}
select {
	outline: 0px; color: inherit; line-height: inherit; font-family: inherit; font-size: inherit;
}
pre {
	outline: 0px; color: inherit; line-height: inherit; font-family: inherit; font-size: inherit;
}
textarea {
	overflow: auto; resize: none;
}

button {
	outline: 0px; cursor: pointer;
}
a {
	outline: 0px; cursor: pointer;
}
a {
	color: rgb(18, 142, 194); text-decoration: none;
}
a:hover {
	color: rgb(18, 142, 194); text-decoration: none;
}

a {
	transition:color 0.3s; -webkit-transition: color 0.3s; -moz-transition: color 0.3s;
}

html {
	-ms-overflow-y: scroll;
}
body {
	min-width: 1000px;
}



.g-ft {
	background: linear-gradient(rgb(249, 249, 249), rgb(255, 255, 255) 30px); padding: 30px 0px 10px; border-top-color: rgb(219, 219, 219); border-top-width: 1px; border-top-style: solid;
}

.g-tool {
	left: 0px; top: 131px; right: 0px; bottom: 80px; position: absolute; _position: relative; _top: 0; _height: 100%;
}

.b-tool {
	left: 0px; top: 131px; right: 0px; bottom: 0px; position: absolute; _position: relative; _top: 0; _height: 100%;
}

.o-tool {
	left: 0px; top: 81px; right: 0px; bottom: 0px; position: absolute; _position: relative; _top: 0; _height: 100%;
}

.m-tool {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.m-tool .awrap iframe {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.m-tool .awrap {
	height: 100%; overflow: hidden; position: relative;
}
.m-tool .cwrap {
	height: 100%; overflow: hidden; position: relative;
}
.m-tool .bwrap {
	height: 80px; border-bottom-color:#187af3; border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 8; box-shadow: 0px 3px 6px rgba(0,0,0,0.2); -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.m-tool .bwrapin {
	background-position: 0px -182px; padding: 0px 0px 0px 15px; height: 80px; position: relative; background-repeat: repeat-x; background-color: #187af3;
}

.owrap{
	height: 100%; overflow: hidden; position: relative;
}

.buytool{height: 80px; bottom:0px; background:#f00; border-bottom-color:#187af3; border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 8; box-shadow: 0px 3px 6px rgba(0,0,0,0.2); -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);}


.f-usn {
	-ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
}

