[class^="icon-32-"],
[class*=" icon-32-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right:8px;
  line-height: 16px;
  vertical-align: text-top;
  background-image:url(../img/cms/cmsicon.png);
  background-repeat: no-repeat;
  margin-top: 0px;
}

.icon-32-1{
  background-position: 0 0;
}
.icon-32-2{
  background-position: -32px 0;
}
.icon-32-3{
  background-position: -64px 0;
}
.icon-32-4{
  background-position: -96px 0;
}
.icon-32-5{
  background-position: -128px 0;
}
.icon-32-6{
  background-position: -160px 0;
}
.icon-32-7{
  background-position: -192px 0;
}
.icon-32-8{
  background-position: -224px 0;
}
.icon-32-9{
  background-position: -256px 0;
}